<% provide(:title, "About Issues.io") %>
<div class="jumbotron">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, rerum, eaque vel nihil delectus quisquam provident consequatur doloribus repellendus minima consectetur quae harum magnam aliquam eligendi numquam odit. Commodi, quas?</p>
</div>