<% provide(:title, "Issues.io") %>
<div class="jumbotron">
    <h1>Issues.io</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, et, recusandae, a, natus sed adipisci tempora cumque sapiente ipsam aut ducimus accusantium quos! Repudiandae, neque natus eius suscipit ipsam obcaecati!</p>
</div>