<div class="container">
    <br/><br/><br/>
    <h2 class="text-center">Editing Issue</h2>
    </br>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Editing Issue</div>
            <div class="panel-body">
                <%= render 'form' %>
            </div>
        </div>
        <%= link_to 'Show', @issue, class: "btn btn-primary"  %> |
        <%= link_to 'Back', issues_path, class: "btn btn-primary" %>
    </div>
</div>