<div class="container">
    <br/><br/><br/>
    <h2 class="text-center">New Issue</h2>
    </br>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">New Issue</div>
            <div class="panel-body">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>