<% provide(:title, @issue.content) %>
<div class="container">
  
  <p id="notice"><%= notice %></p>
  
  <div class="jumbotron">
      <h1>User: <%= @issue.user_id %></h1>
      <p>Issue: <%= @issue.content %></p>
  </div>
  
    
  <!--<h2>Comments:</h2>
  render "comments/comment"
  
  <h2>Add a comment:</h2>
  render "comments/form"
  -->
  
  <%= link_to 'Back', issues_path, class: "btn btn-primary" %>
  
</div>
